@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  background-color: #3882f6;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 500;
}

.button-outline {
  border: 2px solid #e5e7eb;
}

.dark-background {
  background-color: #1f2937;
}

.header .links a,
.hero-section .secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.primary-heading {
  font-size: 60px;
  color: #f9faf8;
  font-weight: bold;
  line-height: 1;
}

.secondary-heading {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  padding: 16px 0;
  margin: 0 auto;
}

.header .logo {
  font-size: 24px;
  color: #f9faf8;
}

.header .links {
  display: flex;
  gap: 16px;
}

/* HERO SECTION */

.hero-section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 96px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.hero-section .content {
  flex: 1;
}

.hero-section .primary-heading {
  margin-bottom: 8px;
}

.hero-section .secondary-text {
  margin-bottom: 16px;
}

.hero-section .image {
  flex: 0.75;
}

/* INFO SECTION */

.info-section {
  padding: 48px 0 96px 0;
}

.info-section .secondary-heading {
  margin-bottom: 48px;
  text-align: center;
}

.info-cards-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 48px;
}

.info-card .icon {
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 16px;
  justify-self: center;
  margin-bottom: 8px;
}

.info-card .text {
  text-align: center;
  width: 200px;
  color: #1f2937;
}

/* QUOTE SECTION */

.quote-section {
  padding: 96px 0;
  background-color: #e5e7eb;
}

.quote-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 192px;
}

.quote-container .quote {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 16px;
  text-align: left;
}

.quote-container .author {
  font-weight: 500;
  text-align: right;
}

/* CTA SECTION */

.cta-section {
  padding: 96px 0;
}

.cta-container {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #3882f6;
  border-radius: 8px;
  padding: 48px 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-container .tertiary-heading {
  color: #f9faf8;
  margin-bottom: 4px;
}

.cta-container .text {
  color: #f9faf8;
}

/* FOOTER SECTION */

.footer {
  background-color: #1f2937;
  padding: 48px 0;
}

.footer .text {
  color: #f9faf8;
  text-align: center;
}
